body{
    font-family: 'Orbitron',sans-serifz;
    background-color: #000;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url('https://wallpapercave.com/dwp2x/wp2212297.jpg');
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transform: perspective(300px) rotateX(25deg);
    position: relative;
}
h1{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    letter-spacing: 2pxS;
}
.container{
    width: 100%;
    perspective: 300px;
    transform-style: preserve-3d;
    animation: scroll 75s linear infinite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn-primary{
    background-color: #ffffff;
    border-color: #00fbff;
    color: #222;
}
.btn-primary:hover,
.btn-primary:focus{
    background-color: #c160d3;
    border-color: #f2fefe;
    color: #f2fefe;
}
@keyframes scroll{
    0%{
        transform: translateY(100%) perspective(300px);
    }
    100%{
        transform: translateY(-200%) perspective(300px);
    }
}